/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background: #ffffff;
}

.container {
	text-align: left;
}

.a:hover { text-decoration: none}

/* ace customisation
---------------------------------------------- */

.main-content {margin-left: 0;}


sidebar .nav-list {
	border-width: 0;
	border-bottom: 2px solid #3E3E3E;
}